In [32]:
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing 
import pandas as pd

In [24]:
train = pd.read_csv("~/kaggle_data/train.csv")

In [25]:
train.head()

,Category,DayOfWeek,PdDistrict,Corner,X,Y,year,month,hour,minute
0,WARRANTS,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
1,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
2,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.424363,37.800414,2015,5,23,33
3,LARCENY/THEFT,Wednesday,NORTHERN,0,-122.426995,37.800873,2015,5,23,30
4,LARCENY/THEFT,Wednesday,PARK,0,-122.438738,37.771541,2015,5,23,30

In [27]:
y = train['Category'].as_matrix()
train.drop('Category',1,inplace=True)
train = pd.get_dummies(train)
train.head()

,Corner,X,Y,year,month,hour,minute,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,1,-122.425892,37.774599,2015,5,23,53,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,-122.425892,37.774599,2015,5,23,53,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,-122.424363,37.800414,2015,5,23,33,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,-122.426995,37.800873,2015,5,23,30,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,-122.438738,37.771541,2015,5,23,30,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [28]:
train.columns

Index(['Corner', 'X', 'Y', 'year', 'month', 'hour', 'minute',
       'DayOfWeek_Friday', 'DayOfWeek_Monday', 'DayOfWeek_Saturday',
       'DayOfWeek_Sunday', 'DayOfWeek_Thursday', 'DayOfWeek_Tuesday',
       'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL',
       'PdDistrict_INGLESIDE', 'PdDistrict_MISSION', 'PdDistrict_NORTHERN',
       'PdDistrict_PARK', 'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN',
       'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN'],
      dtype='object')

In [33]:
X = train.as_matrix()
scaler = preprocessing.StandardScaler().fit(X)#scale features
X = scaler.transform(X)
X_train,X_test,y_train,y_test= train_test_split(X,y) # consider using stratified split to account for skewed classes

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)